.body {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Center the items */
  padding: 20px; /* Add some padding for all screen sizes */
  margin-top: 60px; /* Add margin to separate from the navbar */
}

.productWrapper {
  margin: 10px;
  width: calc(100% - 20px); /* Full width minus margins for small screens */

  @media (min-width: 480px) {
    /* For larger screens */
    width: calc(50% - 20px); /* Two items per row */
  }

  @media (min-width: 768px) {
    width: calc(33.33% - 20px); /* Three items per row */
  }

  @media (min-width: 1024px) {
    width: calc(25% - 20px); /* Four items per row */
  }
}
